<ng-container *ngFor="let slide of dataSlider; let i = index">
  <div class="content text-center" *ngIf="step == i + 1">
    <h1 class="text-xl md:text-3xl xl:text-4xl font-bold">
      {{ slide.title }}
    </h1>
    <div class="w-64 h-80 m-auto">
      <img
        [src]="slide.image"
        alt=""
        class="w-full h-full object-contain py-8"
      />
    </div>
    <h3 class="text-xl md:text-2xl font-bold">
      {{ slide.subTitle }}
    </h3>
    <p class="text-sm md:text-base font-extralight leading-4 mt-2">
      {{ slide.desc }}
    </p>
  </div>
</ng-container>
<div class="text-center absolute bottom-10 left-0 right-0">
  <div
    class="rounded-full inline-block mx-1 h-4 cursor-pointer"
    *ngFor="let item of dataSlider; let i = index"
    [ngClass]="{
      'bg-base-primary-secondary w-10': step == i + 1,
      'bg-white w-4': step != i + 1
    }"
    (click)="changeStep(i + 1)"
  ></div>
</div>
